<div class="col-md-8 col-md-offset-2">
	<h2 class="text-center"> {{ calendarTitle }} </h2>
	<div class="row">
		<div class="col-md-6 text-center">
			<div class="btn-group">
				<button
					class="btn btn-primary"
					mwl-date-modifier
					date="calendarDay"
					decrement="calendarView">
					Anterior
				</button>
				<button
					class="btn btn-default"
					mwl-date-modifier
					date="calendarDay"
					set-to-today>
					Hoy
				</button>
				<button
					class="btn btn-primary"
					mwl-date-modifier
					date="calendarDay"
					increment="calendarView">
					Siguiente
				</button>
			</div>
		</div>

		<div class="col-md-6 text-center">
			<div class="btn-group">
				<label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">Año</label>
	            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Mes</label>
	            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Semana</label>
	            <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Dia</label>
			</div>	
		</div>

	</div>
	
	<br>

	<mwl-calendar
		events="events"
        view="calendarView"
        view-title="calendarTitle"

		on-event-click="eventClicked(calendarEvent)"
		edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
		delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
        
        current-day="currentDay"
        auto-open="true"
        day-view-start="06:00"
        day-view-end="22:00"
        day-view-split="30">
	</mwl-calendar>

	<br> <br>

	<h3>
		Editar eventos
		<button class="btn btn-primary pull-right" ng-click="add()">Agregar nuevo</button>
		<div class="clearfix"></div>
	</h3>

	<table class="table table-bordered">

		<thead>
			<tr>
				<th>Titulo</th>
				<th>Tipo</th>
				<th>Fecha de inicio</th>
				<th>Fecha de fin</th>
				<th>Borrar</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="event in events track by $index">
				<td><input type="text" class="form-control" ng-model="event.title"></td>
				<td>
					<select ng-model="event.type" class="form-control">
						<option value="important">Importante</option>
						<option value="info">Información</option>
						<option value="success">Exito</option>
						<option value="special">Especial</option>
					</select>
				</td>
				<td>
					<p class="input-group" style="max-width: 250px">
						<input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
					<timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
				</td>
				<td>
					<p class="input-group" style="max-width: 250px">
						<input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="toggle($event, 'endOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
					<timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
				</td>
				<td><button class="btn btn-danger" ng-click="events.splice($index, 1)">Borrar</button></td>
			</tr>
		</tbody>
	</table>

</div>