<div>
    <h1 class="page-header">{{library.name}} <small>(biblioteca)</small>
      <button type="button" class="btn btn-link btn-xs" ng-click="edit()">
        <span class="glyphicon glyphicon-pencil"></span> editar
      </button>
      <button type="button" class="btn btn-danger btn-xs" ng-click="delete()">
        <span class="glyphicon glyphicon-trash"></span> eliminar
      </button>
    </h1>

    <div class="btn-horizontal btn-lg">
        <button ng-repeat="notebook in library.notebooks"
          ng-click="openNotebook(notebook)" class="btn btn-default"
          aria-label="Left Align" style="border: 0px solid;">
            <p>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            </p>
            {{notebook.name}}
        </button>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-default" ng-click="add()">
        Crear un cuaderno
      </button>
    </div>
</div>
