<div class="modal-header">
  <h3 class="modal-title">Editor de eventos</h3>
  <span ng-init="initEvent()"></span>
</div>
<div class="modal-body">
    <error-list errors="errors"></error-list>
    <form ng-submit="save()">
        <div class="form-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Tipo</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="event.title"></td>
                        <td>
                            <select ng-model="event.type" class="form-control">
                                <option value="important">Importante</option>
                                <option value="info">Información</option>
                                <option value="success">Exito</option>
                                <option value="special">Especial</option>
                            </select>
                        </td>
                        <td>
                            <p class="input-group" style="max-width: 250px">
                                <input type="text" class="form-control" readonly datepicker-popup="d/MMM/yyyy" ng-model="event.startsAt" is-open="event.startOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                        </td>
                        <td>
                            <p class="input-group" style="max-width: 250px">
                                <input type="text" class="form-control" readonly datepicker-popup="d/MMM/yyyy" ng-model="event.endsAt" is-open="event.endOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="toggle($event, 'endOpen', event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>