<div id="notebook" style="background-color: rgb(100, 100, 100); width: 100%; height: 100%;">
    <div class="btn-group-vertical" ng-model="leftPanel" id="left-button-panel" align="left">
        <button ng-repeat="button in leftPanel" ng-click="defineCurrentObject(button.action)" class="btn btn-default" aria-label="Left Align" style="border: 0px;">
                <span class="{{button.buttonClass}}" aria-hidden="true"></span>
        </button>
    </div>

    <div id="canvas-container" align="center">
        <svg width="1024" height="800" mode="mode" color="color" model="svg" notebook-sheet> </svg>
    </div>

    <div class="btn-group-vertical" ng-model="rightPanel" id="right-button-panel" align="right">
        <button ng-repeat="button in rightPanel" ng-click="defineCurrentObject(button.action)" class="btn btn-default" aria-label="Left Align" style="border: 0px;">
                <span class="{{button.buttonClass}}" aria-hidden="true"></span>
        </button>
        <button colorpicker ng-model="color" class="btn btn-default" aria-label="Left Align" style="border: 0px;">
            <!-- <span style="width: 100px; height: 100px" ng-style="{'background-color': color}"></span> -->
            sakdfsakldfjkl
        </button>
    </div>
</div>
