<div id="notebook" style="background-color: rgb(100, 100, 100); width: 100%; height: 100%;">
    <div class="btn-group-vertical" ng-model="leftPanel" id="left-button-panel" align="left">
        <button ng-repeat="button in leftPanel" ng-click="button.action()" class="btn btn-default" aria-label="Left Align" style="border: 0px;">
                <span class="{{button.buttonClass}}" aria-hidden="true"></span>
        </button>
    </div>

    <div id="canvas-container" align="center">
        <canvas ng-model="notebook" width="1024" height="800" notebook-sheet></canvas>
    </div>

    <div class="btn-group-vertical" ng-model="rightPanel" id="right-button-panel" align="right">
        <button data-ng-repeat="button in rightPanel" ng-click="button.action()" class="btn btn-default" aria-label="Left Align" style="border: 0px;">
                <span class="{{button.buttonClass}}" aria-hidden="true"></span>
        </button>
    </div>
</div>
