div
  display: block

#notebook
  width: 400px
  height: 400px


#left-button-panel
  float: left
  width: 5%
  height: 100%


#canvas-container
  float: left
  width: 90%
  height: 100%

#right-button-panel
  float: left
  width: 5%
  height: 100%
